<launch>
    <node name="lfm" pkg="lfm" type="lfm_node" output="screen"/>

    <include file="$(find apriltags2_ros)/launch/scene_detection.launch"/>
    <include file="$(find swiftpro)/launch/pro_control.launch"/>
    <arg name="scene_file" default="$(find lfm)/scene.yaml"/>   
    <rosparam command="load" file="$(arg scene_file)"/>
</launch>
